.dragpictures{
  font-size: 120%;
  background-image: url('../img/pencil-bkg.jpg');
  #animated-message{
    z-index: 1;
    position: absolute;
    top: 2em;
    left: 3em;
    font-size: 300%;
    color: orange;
    background: white;
    padding: 1em;
    border: 1px solid whitesmoke;
    @include prefix(border-radius, 0.5em);
    @include prefix(box-shadow, 5px 5px 18px #B3B3B3);
  }
  .invisible{opacity: 0;}
  .hidden{
    display: none;
  }
  ul{
    list-style-type: none;
    &.from{
      height: 5em;
      margin-left: 14em;
    }
  }
  .row{
    .container{
      display: table-cell;
      &.b{
        .head{background-color: #ffb31f;}
        .body{background-color: white; border: 0.2em solid #ffb31f;}
      }
      &.p{
        .head{background-color: #ff657f;}
        .body{background-color: white; border: 0.2em solid #ff657f;}
      }
      .head{
        text-align: center;
        padding: 0.7em;
        margin-right: 2em;
      }
      .body{
        // border: 1px solid #eee;
        // width: 142px;
        min-height: 1em;
        list-style-type: none;
        // margin: 0;
        // padding: 5px 0 0 0;
        float: left;
        width: 17em;
        height: 14em;
        margin-top: 0.1em;
        padding: 0 0 0.5em 0.5em;
        margin-right: 2em;
      }

    }

    .picture{
      // border: 0.2em solid #e2e2e2;
      margin: 0.5em 0.5em 0 0;
      cursor: pointer;
      float: left;
      width: 5em;
      height: 6em;
      position: relative;
      img{
        width: 100%;
        height: 5em;
        // height: auto;
      }
      .title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: white;
      }

    }
  }

}