.dragletters{
	margin: 0;
	border: 0.5em solid #e2e2e2;
	padding: 1em;
  	font-size: 120%;
  	width: 50em;
	#animated-message{
		z-index: 1;
		position: absolute;
		top: 2em;
		left: 3em;
		font-size: 300%;
		color: orange;
		background: white;
		padding: 1em;
		border: 1px solid whitesmoke;
		@include prefix(border-radius, 0.5em);
		@include prefix(box-shadow, 5px 5px 18px #B3B3B3);
	}
	.hidden{
	  display: none;
	}
	.from{
		padding-left: 5em;
	}
	.droppable{
		position: relative;
		width: 17em;
		height: 6em;
	  .float-left{
	    table{float: left}
	  }
	  .float-right{
	    table{float: right}
	  }
	  .answer{
			position: absolute;
			top:3.3em;
			left: 0.5em;
			letter-spacing: 1.05em;
			// &.long{letter-spacing: 1.07em;}
	  }
	}

  table.cells{
    border-collapse: collapse;
    margin: 3em 0;
    td{
	  background-color: #e2e2e2;
      width: 1.5em;
      height: 1.5em;
      &.redborder-right{border-right: 0.25em solid red;}
    }
    &.cells[type="4"] td{background: #98d585}
    &.cells[type="7"] td{background: #eae375}
    &.cells[type="6"] td{background: #9fc4f5}
    &.cells[type="5"] td{background: #f59fc0}
  }
  .equal-height{
    display: table-cell;
  }

  .picture{
  	width: 5em;
  	height: 6em;
  	margin-top: 0.5em;
  	position: relative;
		img{
			cursor: pointer;
			width: 100%;
			height: auto;
		}
    .title{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: whitesmoke;
    }
  }
  .invisible{opacity: 0;}
  #results{
  	width: 15em;
  	display: table-cell;
  	.answer{float: left; margin-right: 1em;}
  }

}