@mixin prefix($property, $value) {
  $vendors: webkit moz ms o;
  @each $vendor in $vendors {
    #{"-" + $vendor + "-" + $property}: #{$value};
  }
  #{$property}: #{$value};
}

@mixin prefixvalue($property, $value) {
  $vendors: webkit moz ms o;
  @each $vendor in $vendors {
    #{$property}: #{"-" + $vendor + "-" + $value};
  }
  #{$property}: #{$value};
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    $browser: '-webkit-'; @content;
  }
  @-moz-keyframes #{$animationName} {
    $browser: '-moz-'; @content;
  }
  @-o-keyframes #{$animationName} {
    $browser: '-o-'; @content;
  }
  @keyframes #{$animationName} {
    $browser: ''; @content;
  }
} $browser: null;

@mixin border-box {
  @include prefix(box-sizing, border-box);
}

@mixin centerer($direction, $size) {
  position: absolute;
  #{$direction}: 50%;
  margin-#{$direction}: -($size/2);
}