.pencil{
	margin: 1em 0;
	font-size: 160%;
	// background-color: #b4d2ee;
	background-image: url('../img/pencil-bkg.jpg');
	.wrapper{width: 35em}
	.background-waves{
		position: absolute;
		background-color: white;
		height: 20em;
		width: 35em;
		z-index: -1;
	}
	div.buttons{
		font-size: 80%;
		padding: 0 0.5em;
		width: 19em;
		/*float: left;*/
		display: table-cell;
	}
	div.text{
		background-color: white;
		border: 0.15em solid #73e6ff;
		width: 20em;
		line-height: 1.4em;
		/*float: left;*/
		display: table-cell;
		padding: 0.5em;
		@include prefix(border-radius, 1em);
	}
	div.title{
		text-align: center;
		font-weight: bold;
	}
	div.textblock{cursor: url(../img/pencil.png), auto;}
	.button-container{
		padding: 0.3em;
	}
	.empty-container{
		height: 1em;
	}
	.button{
		margin-top: 0;
		text-align: center;
		border: 0.1em solid rgba(0, 0, 0, 0.15);
		cursor: pointer;
		padding: 0.6em;
		@include prefix(border-radius, 0.5em);
		&.selected{
			@include prefix(animation, blink 1s infinite);
		}
	}

	.circle-button{
		text-transform: uppercase;
		width: 6.5em;
		height: 6.5em;
		@include prefix(border-radius, 50%);
		float: left;
		cursor: pointer;
		padding: 2.6em 0.9em;
		margin: 0.6em;
		&.check{background-color: #5cff87;}
		&.cancel{background-color: #d1e1f2;}
		// @include prefix(box-shadow, 0 5px 27px black inset);
		@include prefix(box-shadow, 5px 5px 1px rgba(0, 0, 0, 0.35));
	}

	#color1{ background-color: #fefe9a }
	#color2{ background-color: #b9fea9 }
	#color3{ background-color: #9deeff }
	#color4{ background-color: #afbffd }
	#color5{ background-color: #ebb6fc }
	#color6{ background-color: #ffc571 }
	#color7{ background-color: #e4e4e4 }
}


@include keyframes('blink') {
  50% {
  	border: 0.1em solid rgba(0, 0, 0, 0);
  	opacity: 0.5;
  }
}