.pencil {
  margin: 0;
  font-size: 160%;
  background-image: url("../img/pencil-bkg.jpg"); }
  .pencil .background-waves {
    position: absolute;
    background-color: white;
    height: 20em;
    width: 35em;
    z-index: -1; }
  .pencil div.buttons {
    font-size: 80%;
    padding: 0 0.5em;
    width: 15em;
    /*float: left;*/
    display: table-cell; }
  .pencil div.text {
    background-color: white;
    border: 0.15em solid #73e6ff;
    width: 20em;
    line-height: 1.4em;
    /*float: left;*/
    display: table-cell;
    padding: 0.5em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em; }
  .pencil div.title {
    text-align: center;
    font-weight: bold; }
  .pencil div.textblock {
    cursor: url(../img/pencil.png), auto; }
  .pencil .button-container {
    padding: 0.3em; }
  .pencil .empty-container {
    height: 5em; }
  .pencil .button {
    margin-top: 0.3em;
    text-align: center;
    border: 0.1em solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 0.3em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em; }
    .pencil .button.selected {
      -webkit-animation: blink 1s infinite;
      -moz-animation: blink 1s infinite;
      -ms-animation: blink 1s infinite;
      -o-animation: blink 1s infinite;
      animation: blink 1s infinite; }
  .pencil .check, .pencil .cancel {
    float: left;
    background-color: whitesmoke;
    border: 0.05em solid #9d9d9d;
    cursor: pointer;
    padding: 0.5em 1.2em;
    margin: 0.6em; }
  .pencil #color1 {
    background-color: #7dadd5; }
  .pencil #color2 {
    background-color: #83c86e; }
  .pencil #color3 {
    background-color: #fefc70; }
  .pencil #color4 {
    background-color: #eea0c4; }
  .pencil #color5 {
    background-color: #ffbf42; }
  .pencil #color6 {
    background-color: #b5ab98; }
  .pencil #color7 {
    background-color: #f43535; }

@-webkit-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@-moz-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@-o-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

.dragpictures {
  font-size: 120%; }
  .dragpictures #animated-message {
    z-index: 1;
    position: absolute;
    top: 2em;
    left: 3em;
    font-size: 300%;
    color: orange;
    background: white;
    padding: 1em;
    border: 1px solid whitesmoke;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 5px 5px 18px #b3b3b3;
    -moz-box-shadow: 5px 5px 18px #b3b3b3;
    -ms-box-shadow: 5px 5px 18px #b3b3b3;
    -o-box-shadow: 5px 5px 18px #b3b3b3;
    box-shadow: 5px 5px 18px #b3b3b3; }
  .dragpictures .invisible {
    opacity: 0; }
  .dragpictures .hidden {
    display: none; }
  .dragpictures ul {
    list-style-type: none; }
    .dragpictures ul.from {
      height: 5em; }
  .dragpictures .row .container {
    display: table-cell; }
    .dragpictures .row .container .head {
      text-align: center;
      background-color: #ffb31f;
      padding: 0.4em;
      margin-right: 2em; }
    .dragpictures .row .container .body {
      min-height: 1em;
      list-style-type: none;
      float: left;
      width: 17.5em;
      height: 17.5em;
      background-color: #e2e2e2;
      margin-top: 0.1em;
      padding: 0 0 0.5em 0.5em;
      margin-right: 2em; }
  .dragpictures .row .picture {
    border: 0.2em solid #e2e2e2;
    margin: 0.5em 0.5em 0 0;
    cursor: pointer;
    float: left;
    background: #a1d4ff;
    width: 5em;
    height: 5em;
    position: relative; }
    .dragpictures .row .picture img {
      width: 100%;
      height: 100%; }
    .dragpictures .row .picture .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: whitesmoke; }

.dragletters {
  font-size: 120%;
  margin-left: 2em; }
  .dragletters #animated-message {
    z-index: 1;
    position: absolute;
    top: 2em;
    left: 3em;
    font-size: 300%;
    color: orange;
    background: white;
    padding: 1em;
    border: 1px solid whitesmoke;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 5px 5px 18px #b3b3b3;
    -moz-box-shadow: 5px 5px 18px #b3b3b3;
    -ms-box-shadow: 5px 5px 18px #b3b3b3;
    -o-box-shadow: 5px 5px 18px #b3b3b3;
    box-shadow: 5px 5px 18px #b3b3b3; }
  .dragletters .hidden {
    display: none; }
  .dragletters .from {
    padding-left: 5em; }
  .dragletters .droppable {
    position: relative;
    width: 17em;
    height: 6em; }
    .dragletters .droppable .float-left table {
      float: left; }
    .dragletters .droppable .float-right table {
      float: right; }
    .dragletters .droppable .answer {
      position: absolute;
      top: 3.3em;
      left: 0.5em;
      letter-spacing: 1em; }
  .dragletters table.cells {
    border-collapse: collapse;
    margin: 3em 0; }
    .dragletters table.cells td {
      background-color: #e2e2e2;
      width: 1.5em;
      height: 1.5em; }
  .dragletters .equal-height {
    display: table-cell; }
  .dragletters .picture {
    width: 5em;
    height: 6em;
    margin-top: 0.5em;
    position: relative; }
    .dragletters .picture img {
      cursor: pointer;
      width: 100%;
      height: auto; }
    .dragletters .picture .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: whitesmoke; }
  .dragletters .invisible {
    opacity: 0; }
  .dragletters #results {
    width: 15em;
    display: table-cell; }
    .dragletters #results .answer {
      float: left;
      margin-right: 1em; }

body {
  font-size: 21pt;
  font-family: arial; }
