.pencil {
  margin: 0;
  background-image: url("../img/pencil-bkg.jpg"); }
  .pencil .background-waves {
    position: absolute;
    background-color: white;
    height: 20em;
    width: 35em;
    z-index: -1; }
  .pencil div.buttons {
    font-size: 80%;
    padding: 0 0.5em;
    width: 15em;
    /*float: left;*/
    display: table-cell; }
  .pencil div.text {
    background-color: white;
    border: 0.15em solid #73e6ff;
    width: 20em;
    /*float: left;*/
    display: table-cell;
    padding: 0.5em;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    border-radius: 2%; }
  .pencil div.title {
    text-align: center;
    font-weight: bold; }
  .pencil div.textblock {
    cursor: url(../img/pencil.png), auto; }
  .pencil .button-container {
    padding: 0.3em; }
  .pencil .empty-container {
    height: 5em; }
  .pencil .button {
    margin-top: 0.3em;
    text-align: center;
    border: 0.1em solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 0.3em;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border-radius: 5%; }
    .pencil .button.selected {
      -webkit-animation: blink 1s infinite;
      -moz-animation: blink 1s infinite;
      -ms-animation: blink 1s infinite;
      -o-animation: blink 1s infinite;
      animation: blink 1s infinite; }
  .pencil .check, .pencil .cancel {
    float: left;
    background-color: whitesmoke;
    border: 0.05em solid #9d9d9d;
    cursor: pointer;
    padding: 0.5em 1.2em;
    margin: 0.6em; }
  .pencil #color1 {
    background-color: #7dadd5; }
  .pencil #color2 {
    background-color: #83c86e; }
  .pencil #color3 {
    background-color: #fefc70; }
  .pencil #color4 {
    background-color: #eea0c4; }
  .pencil #color5 {
    background-color: #ffbf42; }
  .pencil #color6 {
    background-color: #b5ab98; }
  .pencil #color7 {
    background-color: #f43535; }

@-webkit-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@-moz-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@-o-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

.dragndrop .row {
  position: relative; }
  .dragndrop .row .container {
    display: table-cell;
    width: 20em; }
    .dragndrop .row .container .head {
      text-align: center;
      background-color: #ffb31f;
      padding: 0.4em;
      margin-right: 0.5em; }
    .dragndrop .row .container .body {
      background-color: #e2e2e2;
      margin-top: 0.1em;
      padding: 0.4em;
      margin-right: 0.5em; }
  .dragndrop .row .picture {
    float: bottom;
    background: #a1d4ff;
    width: 0.2em;
    height: 0.2em; }

body {
  font-size: 21pt;
  font-family: arial; }
