.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px 0px 10px; }

[class*='column-'] {
  float: left;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 60em) {
  .wrapper {
    width: 95%;
    max-width: 45em; }

  .column-1 {
    width: 8.33333%; }

  .wrapper {
    padding: 0; }

  .column-2 {
    width: 16.66667%; }

  .wrapper {
    padding: 0; }

  .column-3 {
    width: 25%; }

  .wrapper {
    padding: 0; }

  .column-4 {
    width: 33.33333%; }

  .wrapper {
    padding: 0; }

  .column-5 {
    width: 41.66667%; }

  .wrapper {
    padding: 0; }

  .column-6 {
    width: 50%; }

  .wrapper {
    padding: 0; }

  .column-7 {
    width: 58.33333%; }

  .wrapper {
    padding: 0; }

  .column-8 {
    width: 66.66667%; }

  .wrapper {
    padding: 0; }

  .column-9 {
    width: 75%; }

  .wrapper {
    padding: 0; }

  .column-10 {
    width: 83.33333%; }

  .wrapper {
    padding: 0; }

  .column-11 {
    width: 91.66667%; }

  .wrapper {
    padding: 0; }

  .column-12 {
    width: 100%; }

  .wrapper {
    padding: 0; } }
.pencil {
  margin: 0;
  font-size: 160%;
  background-image: url("../img/pencil-bkg.jpg"); }
  .pencil .background-waves {
    position: absolute;
    background-color: white;
    height: 20em;
    width: 35em;
    z-index: -1; }
  .pencil div.buttons {
    font-size: 80%;
    padding: 0 0.5em;
    width: 15em;
    /*float: left;*/
    display: table-cell; }
  .pencil div.text {
    background-color: white;
    border: 0.15em solid #73e6ff;
    width: 20em;
    line-height: 1.4em;
    /*float: left;*/
    display: table-cell;
    padding: 0.5em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em; }
  .pencil div.title {
    text-align: center;
    font-weight: bold; }
  .pencil div.textblock {
    cursor: url(../img/pencil.png), auto; }
  .pencil .button-container {
    padding: 0.3em; }
  .pencil .empty-container {
    height: 6em; }
  .pencil .button {
    margin-top: 0.3em;
    text-align: center;
    border: 0.1em solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 0.3em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em; }
    .pencil .button.selected {
      -webkit-animation: blink 1s infinite;
      -moz-animation: blink 1s infinite;
      -ms-animation: blink 1s infinite;
      -o-animation: blink 1s infinite;
      animation: blink 1s infinite; }
  .pencil .check, .pencil .cancel {
    float: left;
    background-color: whitesmoke;
    border: 0.05em solid #9d9d9d;
    cursor: pointer;
    padding: 0.5em 1.2em;
    margin: 0.6em; }
  .pencil #color1 {
    background-color: #7dadd5; }
  .pencil #color2 {
    background-color: #83c86e; }
  .pencil #color3 {
    background-color: #fefc70; }
  .pencil #color4 {
    background-color: #eea0c4; }
  .pencil #color5 {
    background-color: #ffbf42; }
  .pencil #color6 {
    background-color: #b5ab98; }
  .pencil #color7 {
    background-color: #f43535; }

@-webkit-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@-moz-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@-o-keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

@keyframes blink {
  50% {
    border: 0.1em solid rgba(0, 0, 0, 0);
    opacity: 0.5; } }

.dragpictures {
  font-size: 120%;
  background-image: url("../img/pencil-bkg.jpg"); }
  .dragpictures #animated-message {
    z-index: 1;
    position: absolute;
    top: 2em;
    left: 3em;
    font-size: 300%;
    color: orange;
    background: white;
    padding: 1em;
    border: 1px solid whitesmoke;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 5px 5px 18px #b3b3b3;
    -moz-box-shadow: 5px 5px 18px #b3b3b3;
    -ms-box-shadow: 5px 5px 18px #b3b3b3;
    -o-box-shadow: 5px 5px 18px #b3b3b3;
    box-shadow: 5px 5px 18px #b3b3b3; }
  .dragpictures .invisible {
    opacity: 0; }
  .dragpictures .hidden {
    display: none; }
  .dragpictures ul {
    list-style-type: none; }
    .dragpictures ul.from {
      height: 5em;
      margin-left: 14em; }
  .dragpictures .row .container {
    display: table-cell; }
    .dragpictures .row .container.b .head {
      background-color: #ffb31f; }
    .dragpictures .row .container.b .body {
      background-color: white;
      border: 0.2em solid #ffb31f; }
    .dragpictures .row .container.p .head {
      background-color: #ff657f; }
    .dragpictures .row .container.p .body {
      background-color: white;
      border: 0.2em solid #ff657f; }
    .dragpictures .row .container .head {
      text-align: center;
      padding: 0.7em;
      margin-right: 2em; }
    .dragpictures .row .container .body {
      min-height: 1em;
      list-style-type: none;
      float: left;
      width: 17em;
      height: 14em;
      margin-top: 0.1em;
      padding: 0 0 0.5em 0.5em;
      margin-right: 2em; }
  .dragpictures .row .picture {
    margin: 0.5em 0.5em 0 0;
    cursor: pointer;
    float: left;
    width: 5em;
    height: 6em;
    position: relative; }
    .dragpictures .row .picture img {
      width: 100%;
      height: 5em; }
    .dragpictures .row .picture .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: white; }

.dragletters {
  background-size: 50em 50em;
  margin: 0;
  padding: 1em;
  font-size: 160%;
  /***************** animation ******************/
  /**********************************************/ }
  .dragletters .wrapper {
    position: relative; }
  .dragletters #animated-message {
    z-index: 1;
    position: absolute;
    top: 2em;
    left: 3em;
    font-size: 300%;
    color: orange;
    background: white;
    padding: 1em;
    border: 1px solid whitesmoke;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 5px 5px 18px #b3b3b3;
    -moz-box-shadow: 5px 5px 18px #b3b3b3;
    -ms-box-shadow: 5px 5px 18px #b3b3b3;
    -o-box-shadow: 5px 5px 18px #b3b3b3;
    box-shadow: 5px 5px 18px #b3b3b3; }
  .dragletters .float-left {
    float: left; }
  .dragletters .float-right {
    float: right; }
  .dragletters .hidden {
    display: none; }
  .dragletters .from {
    position: relative;
    width: 12em;
    height: 20em; }
    .dragletters .from .picture {
      z-index: 1;
      width: 10em;
      height: 10em;
      position: absolute;
      margin: 9em 0 1em 1em; }
  .dragletters .droppable {
    position: relative;
    min-width: 16em; }
    .dragletters .droppable .answer {
      position: absolute;
      top: 7.8em;
      left: 1.9em;
      letter-spacing: 1.5em; }
  .dragletters table.cells {
    border-collapse: collapse;
    margin: 1em; }
    .dragletters table.cells td {
      width: 2.2em;
      height: 2.5em;
      padding: 0.3em 0.1em; }
      .dragletters table.cells td div {
        height: 100%; }
      .dragletters table.cells td.blackborder-right {
        border-right: 0.12em solid black; }
    .dragletters table.cells.cells[type="5"] td > div {
      background: #ffb0d3; }
    .dragletters table.cells.cells[type="6"] td > div {
      background: #98f1ff; }
    .dragletters table.cells.cells[type="4"] td > div {
      background: #a9febd; }
    .dragletters table.cells.cells[type="7"] td > div {
      background: #fdff92; }
  .dragletters .results {
    padding: 0.3em; }
  .dragletters .picture {
    width: 4em;
    height: 5em;
    margin: 0.5em 2em 0 0;
    position: relative; }
    .dragletters .picture img {
      cursor: pointer;
      width: 100%;
      height: auto; }
    .dragletters .picture .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: white;
      letter-spacing: 0.1em;
      font-size: 80%;
      text-transform: uppercase; }
  .dragletters .invisible {
    opacity: 0; }
  .dragletters #animation {
    background-color: #f5f5f5;
    height: 600px;
    position: absolute;
    width: 50em;
    top: 7em;
    background: none;
    z-index: 2; }
  .dragletters #animation-container {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden; }
  .dragletters .ball {
    color: #e94167;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 200% !important; }
  .dragletters .cover {
    position: absolute;
    background-color: #e94167;
    border-radius: 50%; }

body {
  font-size: 21pt;
  font-family: arial; }
